@model OnlineTestingSystem.WebUI.Models.QuestionViewModel
<div style="border:1px solid black; display:none" id="Question_@Model.Id" class="question slider single-item">
    @Html.HiddenFor(x => x.Id)
    <h3 style="text-align:center"> @Model.QuestionText </h3>
    <br />
    @for (int i = 0; i < Model.Answers.Count; i++)
    {
        @Html.HiddenFor(model => Model.Id)
        <p>
            @Html.RadioButtonFor(b => b.SelectedAnswer, Model.Answers.ToList()[i].Id, new { @id = "radioB" })  @Model.Answers.ToList()[i].Answer
        </p>
    }
    <button type="button" id="buttonGetNextQuestion" onclick=ShowNextQuestion(this)>Next</button>
</div>
