@model OnlineTestingSystem.WebUI.Models.PaginationModels.IndexUserViewModel
@using OnlineTestingSystem.WebUI.Helpers
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>@user.UserRole</td>
                <td>
                    @Html.ActionLink("Update |","Update/"+user.UserID,"Users")
                    <a href="" onclick="Delete(@user.UserID)">Delete</a>
                    @*@Html.ActionLink("Delete", "Delete/" + user.UserID, "Users")*@
                </td>
            </tr>
        }
    </tbody>
</table>


<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>


<script>
    function Delete(id) {
        var answer = confirm("Do you realy want to delete this user?");
        if (answer) {
            $.ajax({
            type: "POST",
            url: "@Url.Action("Delete/","Users")"+ id,
            ajaxasync: true,
            success: function (data) {
                alert("success");
                $("#" + id).closest("tr").remove();
                window.location.replace("@Url.Action("Index", "Users")");
            },
            error: function () {
            }
            });

        };
    }
</script>