@model OnlineTestingSystem.WebUI.Models.EvaluationViewModel
<h2>@ViewBag.TestName</h2>

@{
    ViewBag.Title = @ViewBag.TestName;
}
<div id="timeLimit">
    @ViewBag.TimeLimit
</div>

@{
    Model.TimeStart = @DateTime.Now;
}

@using (Html.BeginForm("Evaluation", "Test", FormMethod.Post, new { id = "testForm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.TimeStart)
    @Html.HiddenFor(x => x.TestId)
    @Html.HiddenFor(x => x.TestSessionId)
    @Html.EditorFor(x => x.Questions)
}


@Scripts.Render("~/bundles/myscripts")

<script type="text/javascript">
    window.onload = function () {

        DisplayQuestionByQuestion();

        disableButtons();

        var seconds = @ViewBag.TimeLimit * 60 * 1000;
        setTimeout(submitForm, seconds);

        var timeToDisplay = seconds / 1000,
            display = document.querySelector('#timeLimit');
        startTimer(timeToDisplay, display);
    };

    function DisplayQuestionByQuestion() {
    $("#Question_@Model.Questions.FirstOrDefault().Id").css("display", "block");

    var lastButton = $("#Question_@Model.Questions.LastOrDefault().Id").find('button');

    $(lastButton).html('End test');
    $(lastButton).attr({
        type: 'submit'
    });
}


</script>