@model OnlineTestingSystem.BLL.ModelsDTO.TestDTO
@{
    ViewBag.Title = "Test";
}

<h2>@Model.Name</h2>

<p>Number of questions: @ViewBag.NumberOfQuestions</p>

<p>TimeLimit: @Model.Timelimit</p>


<button class="btn btn-info">
    @Html.ActionLink("Start", "Evaluation/" + @Model.Id, "Test")
</button>