@model OnlineTestingSystem.WebUI.Models.PaginationModels.IndexCertificatesViewModel
@using OnlineTestingSystem.WebUI.Helpers
@{
    ViewBag.Title = "MyCertificates";
}

<h2>MyCertificates</h2>
<br />


<table class="table">
    <thead>
        <tr>
            <th>Test</th>
            <th>Score</th>
            <th>Date</th>
            <th>Certificate Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificate in Model.Certificates)
        {
            <tr>
                <td>@certificate.TestDTO.Name</td>
                <td>@certificate.Score / maxScore</td>
                <td>@certificate.TestDate.ToString("dd/MM/yyyy")</td>
                <td>@certificate.CertificateNumber</td>
            </tr>
        }
    </tbody>
</table>

<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Certificates","Cabinet", new { page = x }))
</div>