@model OnlineTestingSystem.WebUI.Models.PaginationModels.IndexSessionViewModel
@using OnlineTestingSystem.WebUI.Helpers
@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>
<br />


<table class="table">
    <thead>
        <tr>
            <th>Test</th>
            <th>Date</th>
            <th>Time</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model.Sessions)
        {
            <tr>
                <td>@session.TestName</td>
                <td>@session.TimeStart.ToString("dd/MM/yyyy")</td>
                <td>@session.TestTime.ToString(@"hh\:mm\:ss")</td>
                <td>@session.Score / Max</td>
            </tr>
        }
    </tbody>
</table>


<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Results", "Cabinet", new { page = x }))
</div>
