@model OnlineTestingSystem.BLL.ModelsDTO.CertificateDTO

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


<table class="table">
    <thead>
        <tr>
            <th>CertificateNumber</th>
            <th>User</th>
            <th>Test</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.CertificateNumber</td>
            <td>@Model.UserDTO.LastName @Model.UserDTO.FirstName</td>
            <td>@Model.TestDTO.Name</td>
            <td>@Model.Score</td>
        </tr>

    </tbody>
</table>
