@model OnlineTestingSystem.BLL.ModelsDTO.CertificateDTO

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<h3>@Model.SertificateNumber</h3>

<p>@Model.UserDTO.LastName</p>
<p>@Model.UserDTO.FirstName</p>
<p>@Model.TestDTO.Name</p>
<p>@Model.Score</p>